body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.token {
    &-header {
        height: 8%;
        background-color: #0f1320;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 3%;


        .close {
            color: white;
            cursor: pointer;
            font-size: 28px;
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
            z-index: 11;
        }

        & span {
            color: white;
            cursor: pointer;
            font-size: 28px;
        }

        &__list {
            display: flex;
            color:white;
            width: 70%;
            margin: 0;
            
            & li {
                list-style: none;
                margin-right: 2%;
                cursor: pointer;
            }
        }
    }

    &-main {
        display: flex;
        // width: 100%;
        height: 100%;
        background-color: #0f1320;
        color: white;
        padding: 10%;
    
        &__stats {
            display: flex;
            height: 25%;
            & h2 {
                width: 30%;
                font-size: 26px;
                letter-spacing: -0.02em;
            }
    
            & div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
    
                & p {
                    font-size: 20px;
                    letter-spacing: -0.02em;
                    margin: 0;
    
                    &:last-child {
                        align-self: flex-end;
                    }
                }
    
                & span {
                    font-size: 76px;
                    letter-spacing: -0.02em;
                    color: #FFD100;
                    align-self: center;
                }
            }
        }
    
        &__distribution {
    
        }
    }
    
}

.mobile {
    &-on {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .token {
        &-header {
            align-items: center;
            position: relative;
            z-index: 1;
            &__list {
                flex-direction: column;
                justify-content: space-evenly;
                background-color: #0f1320;
                height: 15vh;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                & li {
                    list-style: disc;
                    &:hover {
                        // background-color: gray;
                    }
                }
            }
        }
        &-main {
            padding: 5%;
            &__stats {
                flex-direction: column;
                width: 100%;
    
                & h2 {
                    width: 100%;
                    margin: 0;
                }
        
                & div {
                    width: 100%;
                    margin-top: 2%;
                    & p {
                        &:first-child {
                            width: 50%;
                        }
                        &:last-child {
                        }
                    }
        
                    & span {
                        font-size: 66px;
                        padding: 3% 0;
                    }
                }
            }
        
            &__distribution {
        
            }
        }
    }

    .mobile {
        &-on {
            display: block !important;
        }

        &-off {
            display: none;
        }
    }

}