@import './colors.scss';
@import './fonts.scss';
body {
    margin: 0;
    background-color: $bg;
    height: 200vh;
    width: calc(100vw - 20%);
    padding:0 10%;
    font-family: 'Century';
}

.slick-dots li.slick-active button:before {
    color: $text !important;
}

.slick-dots li button:before {
    color: $text !important;
    opacity: 0.5;
}

.team {
    width: 100%;
    color: $text;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text;
    }

    &__arrows {
        display: flex;

        & span {
            font-size: 18px;
            cursor: pointer;
            border: 2px solid hsla(0, 0%, 100%, 0.10);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            &:hover {
                border: 2px solid hsla(0, 0%, 100%, 0.50);
            }
        }
    }

    & h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        /* identical to box height, or 117% */
        color: $text;
        letter-spacing: -0.02em;
    }

    &-members {
        height: 560px;
        width: 100%;
    }
    &-member {
        height: 520px;
        padding: 40px;
        padding-bottom: 0;
        background-color: $bg-mem;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-left: 20px;

        &:hover {
            box-shadow: 0 3px 9px rgba(255, 255, 255, 0.12), 0 3px 6px rgba(255, 255, 255, 0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        & h4 {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }

        & p {
            margin: 0;
            font-style: normal;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        & img {
            align-self: center;
            margin: auto;
        }
    }
}

@media screen and (max-width: 430px) {
    .team{
        &__arrows {
            display: none;
        }
        &-members {
            height: unset;
        }
    }
}