* {
  margin: 0%;
  padding: 0%;
}

.site {
  width: 100vw;
  height: 100vh;
  background-color: rgb(253, 253, 105);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  width: 30%;
  height: 600px;
  background-color: rgb(1, 1, 36);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator__input {
  width: 90%;
  height: 80px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator__numbers {
  width: 90%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.calculator__numbers div {
  height: 60px;
  width: 20%;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(172, 172, 172);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}
.calculator__numbers div:nth-child(4) {
  background-color: rgb(158, 2, 2);
}
.calculator__numbers div:hover {
  border-radius: 30px;
  font-size: 50px;
}