body{
    margin: 0;
}

.landing {
    width: 93vw;
    height: 100vh;
    background:url('./imgs/bg.png') rgba(31, 2, 144, 0.6);
    background-size:cover;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    padding: 3.5vw;
    display: flex;
    flex-direction: column ;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation__menues {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.navigation__menues > ul{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.navigation__menues > ul > li{
    width: 20%;
    color: white;
    list-style: none;
    font-size: 18px;
}

.search {
    width: 96%;
    height: 135px;
    background-color: white;
    display: flex;
    padding: 2%;
    justify-content: space-between;
}

.seaerch__first-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search__second-column {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search__details {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.search__detail {
    width: 20%;
}

.search__detail-btn {
    width: 20%;
    background-color: #FFC839 !important;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.search__box-yellow{
    height: 55px;
    background-color: #FFF0CB;
}