
body {
    display: flex;
}

.div1 {
    background-color: red;
    height: 200px;
    width: 200px;
}

.div2 {
background-color: blue;
height: 200px;
width: 200px;
}

.div3 {
    background-color: green;
    height: 200px;
    width: 200px;
}

@media screen and (orientation: landscape) {
    // .div1 {
    //     order: 3;
    // }

    // .div2 {
    //     order: 1;
    // }

    // .div3 {
    //     order: 2;
    // }
}

@media print {
    .div1 {
        order: 3;
    }

    .div2 {
        order: 2;
    }

    .div3 {
        order: 1;
    }
}